<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Language" content="cs">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<title>Seznam nabídek</title>
</head>

<body>
<nav>
    <div class="header d-flex flex-wrap align-items-center w-100 mb-2">
        <h1>Seznam nabídek</h1>
        <div class="bg-light-green headerLogin d-flex flex-wrap align-items-center ml-auto rounded border border-dark">
            {if $loggedIn === true}
                {if $icon != null}
                    <img class="rounded" height='80' src="{$basePath}/images/icons/{$icon}">
                {else}
                    <img class="rounded" height="80" src="{$basePath}/images/icons/default/ikona_{$sex == 0 ? 'muz' : 'zena'}.png">
                {/if}
                <span class="d-inline-block mx-3">Přihlášen jako <a n:href="Sign:update">{$username}</a></span>
                <div class="buttons">
                    <a n:href="Sign:out"><img width="100" src="{$basePath}/images/buton%20odhlášení.jpg"></a>
                    <a n:href="Offer:manage"><img width="100" src="{$basePath}/images/buton%20správa%20nabídek.jpg"></a>
                </div>
            {/if}
            {if $loggedIn === false}
                <div class="buttons">
                    <a n:href="Sign:in"><a n:href="Sign:in"><img width="100" src="{$basePath}/images/buton%20přihlášení.jpg"></a>
                        <a n:href="Sign:up"><a n:href="Sign:up"><img width="100" src="{$basePath}/images/buton%20registrace.jpg"></a>
                </div>
            {/if}
        </div>
    </div>

    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a n:href="Homepage:default">Domovská stránka</a></li>
        <li class="breadcrumb-item active">Seznam nabídek</li>
    </ul>
</nav>
<ul class="list-unstyled d-flex flex-wrap">
    {foreach $categories as $id => $category}
        <li class="border border-dark sizeByMedia justify-content-between bg-light-yellow">
            <a n:href="Offer:list $id" class="all m-0 p-3 d-block">

                {if $category["image"] != ""}
                    <img height="40" src="{$basePath}/images/categories/{$category["image"]}">
                {/if}
                {$category["title"]}   <span class="float-right pl-3">{$category["countOffers"]}</span>
            </a>
        </li>
    {/foreach}
</ul>
{form filterForm}
    <ul class="errors list-unstyled" n:if="$form->hasErrors()">
        <li class="text-danger" n:foreach="$form->errors as $error"><strong>{$error}</strong></li>
    </ul>
    <div class="form-group w-25 d-inline-block">
        <label>{label priceFrom /}</label>
        <input type="number" min="0" class="form-control" n:name=priceFrom>
        {inputError priceFrom}
    </div>
    <div class="form-group w-25 d-inline-block">
        <label>{label priceTo/}</label>
        <input type="number" min="0" class="form-control" n:name=priceTo>
        {inputError priceTo}
    </div>
    <div class="form-group w-25 d-inline-block">
        {input cities}
        {inputError cities}
    </div>
    <input class="btn btn-primary" type="submit" n:name=search value="Vyhledat nabídky">
{/form}
{if $noItems}
Kritériu vyhledávání neodpovídají žádné položky.
{else}
<div class="w-100 d-flex flex-wrap">
{foreach $offers as $offer}
    <a class="width14 justify-content-between" n:href="Offer:detail $offer['id']">
        <div class="card width14 border border-dark">
            <div class="card-header">
                <h2 style="font-size: 1rem; height:6rem">{$offer[$title]}</h2>
                <img style="height: 10rem" src="{$basePath}/images/offers/{$offer[$image]}">
            </div>
            <div class="card-body">
                <span class="d-block">{$offer[$price]} Kč</span>
                <span class="d-block">{$offer[$offerOwner] |cityName}</span>
            </div>
        </div>
    </a>
{/foreach}
</div>
<div class="pagination">
    {if $page > 1}
        <a href="{$linkToFirst}">První</a>
        &nbsp;|&nbsp;
        <a href="{$linkToPrevious}">Předchozí</a>
        &nbsp;|&nbsp;
    {/if}

    Stránka {$page} z {$lastPage}

    {if $page < $lastPage}
        &nbsp;|&nbsp;
        <a href="{$linkToNext}">Další</a>
        &nbsp;|&nbsp;
        <a href="{$linkToLast}">Poslední</a>
    {/if}
</div>
{/if}
</body>

</html>
