#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


database:
	dsn: 'mysql:host=c146um.forpsi.com;port=3306;dbname=f61861'
	user: f61861
	password: 3FSsuxf8
	options:
		lazy: yes


services:
    - App\Model\BaseManager
    - App\Model\Sender
    - App\Model\CategoryManager
    - App\Model\CityManager
    - App\Model\CommentManager
    - App\Model\OfferManager
    - App\Model\PhotoManager
    - App\Model\ReportManager
    - App\Model\UserManager
    - App\Model\CommentAndOfferManager
    - App\Model\RegistrationManager
    - App\Control\CommentControl
    - App\Forms\FormFactory
    - App\Forms\OfferFormFactory
    - App\Forms\CommentFormFactory
    - App\Forms\SignInFormFactory
    - App\Forms\SignUpFormFactory
    router: App\RouterFactory::createRouter

