services:
    router: App\Router\RouterFactory::createRouter
    - App\Model\BaseManager
    - App\Model\Sender
    - App\Model\CategoryManager
    - App\Model\CityManager
    - App\Model\CommentManager
    - App\Model\OfferManager
    - App\Model\PhotoManager(%FOLDER_FOR_OFFER_PICTURES%)
    - App\Model\ReportManager
    - App\Model\UserManager
    - App\Model\CommentAndOfferManager
    - App\Model\RegistrationManager
    - App\Model\AddressManager
    - App\Control\CommentControl
    - App\Services\FilterService
    OfferFormFactory:
        class: App\Forms\OfferFormFactory
        inject: yes
    CommentFormFactory:
        class: App\Forms\CommentFormFactory
        inject: yes
    SignInFormFactory:
        class: App\Forms\SignInFormFactory
        inject: yes
    SignUpFormFactory:
        class: App\Forms\SignUpFormFactory
        inject: yes



