{* Latte template *}

{block content}
<div>
    <h2>{$header}</h2>
    <div>
        <ul>
            <li>{$companyInfo}</li>
            <li>{$mediatorInfo}</li>
            <li>{$disclaimer}</li>
            <li>{$buyerSellerProtection}</li>
            <li>{$registrationRequirements}</li>
            <li>{$freeUsage}</li>
        </ul>    
    </div>    
</div>