{snippet photos}
        <div class="d-flex flex-wrap">
            {php $temp = 0}
            {foreach $imagesForUpload as $imageForUpload}
                {if $temp == 0}
                    <div class="border border-dark">
                        <img width="120" src="{$basePath}/images/offers/{$imageForUpload['filename']}"><br/>
                        <span class="btn btn-danger" onclick="removePhotoInsertForm({$imageForUpload['filename']})">Odstranit</span><br/>
                        <span>Hlavní fotografie</span>
                    </div>
                {else}
                    <div>
                        <img width="120" src="{$basePath}/images/offers/{$imageForUpload['filename']}"><br/>
                        <span class="btn btn-danger" onclick="removePhotoInsertForm({$imageForUpload['filename']})">Odstranit</span>
                    </div>
                {/if}
                {php $temp++}
            {/foreach}
        </div>
    {/snippet}
     <script>
        function uploadPhotos(){
            var files = document.getElementById("fileupload").files;
            var formdata = new FormData();
            formdata.append("countFiles", files.length);
            for(var i = 0; i < files.length; i++){
                formdata.append("image"+i, files[i]);
            }
            $.nette.ajax({
                type: 'POST',
                url: {plink uploadPhotos!},
                data: formdata,
                contentType: false,
                processData: false
            });
        }

        function removePhotoInsertForm(filename){
            $.nette.ajax({
                type: 'GET',
                url: {plink removePhotoInsertForm!},
                data: {
                    "filename": filename
                }
            });
        }
    </script>