<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Přidání zboží</title>
</head>
<body>
<p style="font-weight: bolder; font-size: 1.5rem">Smazání účtu</p>

<p>Váš účet v Bubovickém bazaru byl úspěšně smazán.</p>
</body>
</html>