<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Přidání zboží</title>
</head>
<body>
<p style="font-weight: bolder; font-size: 1.5rem">Registrace Vašeho účtu na Bubovickém bazaru</p>

<p>Registrace Vašeho účtu na Bubovickém bazaru proběhla úspěšně.</p>
<p>Uživatelské jméno: {$username}</p>
<p>Heslo: {$password}</p>
</body>
</html>