key: "Hodnota"
English: "Angličtina"
Czech: "Čeština"

user:
    user_name: "uživatelské jméno"
    password: "heslo"
    email: "e-mail"
    phone: "telefon"
    firstname: "křestní jméno"
    lastname: "příjmení"
    city: "město"
    opening_hours: "otvírací doba"
    note: "poznámka"
    role: "role"
    genders: "pohlaví"
    icon: "ikona"
    email_subscription: "e-mailový odběr"
    active_address_id: "aktuální aktivní adresa"

address:
    street_house_number: "ulice a číslo domu"
    region: "kraj"
    city: "obec"
    state: "stát"
    zip_code: "PSČ"
    latitude: "latituda"
    longitude: "longituda"

pagination:
    page: "stránka"
    first: "První"
    previous: "Předchozí"
    next: "Další"
    last: "Poslední"

breadcrumb:
    list_of_offers: "Seznam nabídek"

category:
    all_categories: "všechny kategorie"
    cars_and_motorcycles: "Auto-moto"
    children_bazaar: "Dětský bazar"
    home_and_garden: "Dům, byt a zahrada"
    electronics_and_computers: "Elektro a počítače"
    music_books_games_and_entertainment: "Hudba, knihy, hry a zábava"
    clothing_shoes_and_accessories: "Oblečení, obuv a doplňky"
    sports: "Sport"
    antiques_hobbies_and_art: "Starožitnosti, hobby a umění"
    health_and_beauty: "Zdraví a krása"
    animals: "Zvířata"
    crashed_cars: "Bouraná auta"
    quads: "Čtyřkolky"
    information_and_services: "Informace a služby"
    motorcycles: "Motocykly"
    spare_parts_wheels_and_accessories: "Náhradní díly, kola a příslušenství"
    commercial_vehicles: "Nákladní a užitkové vozy"
    off-road_vehicles: "Offroad"
    cars: "Osobní auta"
    other_cars: "Ostatní auta"
    tuning: "Tuning"
    veteran_cars: "Veteráni"
    car_seats_and_boosters: "Autosedačky a podsedáky"
    children_cosmetics: "Dětská kosmetika"
    children_shoes: "Dětská obuv"
    children_clothing: "Dětské oblečení"
    children_furniture: "Dětský nábytek"
    nannies_and_monitors: "Chůvy a monitory"
    baby_carriers: "Klokánky, krosny, nosítka a šátky"
    strollers: "Kočárky"
    baby_supplies: "Kojenecké potřeby"
    warmers_and_sterilizers: "Ohřívače a sterilizátory"
    other_childrens_items: "Ostatní dětské zboží"
    bedding_blankets_and_covers: "Povlečení, deky a potahy"
    sporting_goods: "Sportovní potřeby"
    school_supplies: "Školní potřeby"
    pools_spas_and_saunas: "Bazény, vířivky, solária a sauny"
    home_accessories: "Bytové doplňky"
    home_appliances: "Domácí spotřebiče"
    toiletries: "Drogerie"
    woodworking_tools: "Dřevoobráběcí nástroje"
    Ikea_marketplace: "Ikea bazar"
    metalworking_tools: "Kovoobráběcí nástroje"
    furniture: "Nábytek"
    tableware: "Nádobí"
    other_household_items: "Ostatní věci do domácnosti"
    flooring_and_rugs: "Podlahy a koberce"
    plants_and_seeds: "Rostliny, sazenice a semena"
    construction_and_tools: "Stavebnictví a nářadí"
    heating_cooling_and_air: "Vytápění, ohřev, chlazení"
    gardening: "Zahrada"
    agricultural_and_forestry_equipment: "Zemědělská a lesní technika"
    Blu-ray_and_DVD_movies: "Blu-ray a DVD filmy"
    games_and_toys: "Hry a hračky"
    music_and_CDs: "Hudba a CD"
    musical_instruments_and_accessories: "Hudební nástroje a příslušenství"
    bands_and_musicians: "Kapely a muzikanti"
    books_and_literature: "Knihy a literatura"
    vouchers_coupons_and_gift_cards: "Vouchery, kupóny, poukázky"
    tickets: "Vstupenky"
    shoes: "Boty"
    jackets_and_coats: "Bundy a kabáty"
    hats_and_caps: "Čepice, klobouky a kšiltovky"
    jeans_and_trousers: "Džíny a rifle"
    accessories_and_miscellaneous: "Galanterie a doplňky"
    bags_and_purses: "Kabelky a tašky"
    pants_and_shorts: "Kalhoty a šortky"
    audio_and_video: "Audio a video"
    photo_bazaar: "Foto bazar"
    GPS_navigation: "GPS navigace"
    gaming_consoles: "Herní konzole"
    mobile_bazaar: "Mobil bazar"
    other_electronics: "Ostatní elektro"
    memory_cards: "Paměťové karty"
    computers: "Počítače"
    satellites_and_satellite_sets: "Satelity a satelitní komplety"
    tablets_and_ebook_readers: "Tablety a čtečky knih"
    televisions: "Televize"
    leather_clothing: "Kožené oblečení"
    sweatshirts: "Mikiny"
    suits_and_blazers: "Obleky a saka"
    other_clothing: "Ostatní oblečení"
    swimsuits_and_beachwear: "Plavky a plážové doplňky"
    workwear_and_shoes: "Pracovní oděvy a obuv"
    underwear: "Spodní prádlo"
    evening_dresses: "Společenské šaty"
    sportswear: "Sportovní oblečení"
    sports_shoes: "Sportovní obuv"
    skirts: "Sukně"
    wedding_dresses: "Svatební šaty"
    sweaters: "Svetry"
    jewelry_watches_and_accessories: "Šperky, hodinky a bižuterie"
    maternity_clothing: "Těhotenské oblečení"
    t-shirts_and_tank_tops: "Trička a tílka"
    summer_sports: "Letní sporty"
    boats_and_boating_equipment: "Lodě a lodní vybavení"
    other_sports_equipment: "Ostatní sportovní vybavení"
    diving_equipment: "Potápěčské potřeby"
    rentals_and_services: "Půjčovny a montovny"
    fishing_equipment: "Rybářské potřeby"
    services_and_courses: "Služby a kurzy"
    sports_equipment: "Sportovní vybavení"
    canoeing_equipment: "Vodácké potřeby"
    winter_sports: "Zimní sporty"
    antiques_and_collectibles: "Antikvariát, staré tisky"
    cameras_and_optics: "Fotoaparáty a foto optika"
    photographs_posters_and_postcards: "Fotografie, plakáty a pohlednice"
    clocks_and_watches: "Hodiny a hodinky"
    toys_and_models: "Hračky a modely"
    musical_instruments: "Hudební nástroje"
    glass_ceramics_and_porcelain: "Sklo, keramika a porcelán"
    hunting_trophies: "Myslivecké a lovecké trofeje"
    numismatics_and_philately: "Numismatika a filatelie"
    paintings_and_pictures: "Obrázky a obrazy"
    badges_and_militaria: "Odznaky a vojenství"
    other_antiques: "Ostatní starožitnosti"
    radios_phonographs_and_electronics: "Rádia, gramofony a technika"
    handicrafts: "Ruční práce"
    antique_furniture: "Starožitný nábytek"
    art_and_artifacts: "Umění a umělecké předměty"
    gold_silver_and_jewelry: "Zlato, stříbro a šperky"
    cosmetics_and_perfumes: "Kosmetika a parfémy"
    other_cosmetics: "Ostatní kosmetika"
    food_supplements: "Potravinové doplňky"
    food: "Potraviny"
    medical_equipment: "Zdravotnické pomůcky"
    aquarium_fish: "Akvarijní rybičky"
    livestock: "Hospodářská zvířata"
    breeding_supplies: "Chovatelské potřeby"
    cats_and_kittens: "Kočky a koťata"
    horses: "Koně"
    mating: "Krytí"
    abandoned_animals: "Opuštěná zvířata"
    other_animals: "Ostatní zvířata"
    dogs_and_puppies: "Psi a štěňata"
    birds: "Ptáci"
    terrarium_animals: "Terarijní zvířata"

base:
    layoutLatte:
        homepage: "Domů"
        my_control_panel: "Můj kontrolní panel"
        my_sales: "Moje prodeje" 
        my_purchases: "Moje nákupy"
        message_center: "Centrum informací"
        settings: "Nastavení"
        log_out: "Odhlásit se"
        logged_in_as: "Přihlášen jako"
        register: "Registrovat"
        sign_in: "Přihlásit"

FooterLinks:
    focusBazaar:
        heading: "Zaměření Bazaru"
        content: "Tento bazar je alternativou k regionálním bleším trhům a zahradním bazarům. Dnes v době internetu je snadné vyfotit předmět a umístit fotografie společně s popisem na tyto stránky! Můžete vlastně využívat virtuálního blešího trhu, který není omezen časově, tak jak tomu je u toho fyzického. Tento regionální bazar má oproti jiným bazarovým serverům svá specifika. Prrioritně předpokládá, že pro předmět se potenciální zájemce zastaví osobně, prohlédne si ho a potom Vám zaplatí. Tím odpadají velké starosti s tím jak předmět zabalit, náklady na poštovné a dobírku, cesta na poštu a vystání fronty a v neposlední řadě eliminace problémů s reklamací předmětu nebo nepřevzetí předmětu ze strany zákazníka. Můžete proto nabídnout i předměty nepatrné hodnoty."

    prohibitedItems:
        heading: "Zakázané předměty"
        listItems: "<ul><li>Zbraně a střelivo</li><li>Výbušniny a pyrotechnika</li><li>Drogy a omamné látky</li><li>Padělky a falzifikáty</li></ul>"
        content: "Před uvedením nabídky si prosím pečlivě přečtěte pravidla a podmínky použití. Pokud se některý předmět nachází v seznamu zakázaných předmětů, nemůže být na tomto bazarovém serveru nabízen."
        
    howToBuy:
        heading: "Jak nakupovat"
        content: "Nakupování na našem bazaru je jednoduché. Stačí si vybrat předmět, který vás zajímá, a kontaktovat prodejce prostřednictvím kontaktního formuláře nebo telefonu. Je vhodné se domluvit na podmínkách převzetí a platby předmětu. Nezapomeňte, že se jedná o regionální bazar, takže předměty si budete muset převzít osobně."
    howToSell:
        heading: "Jak prodávat"
        content: "Prodávat na našem bazaru je také jednoduché. Nejprve si vytvořte účet a přihlaste se. Poté můžete přidávat nabídky s fotografiemi a podrobným popisem. Ujistěte se, že váš předmět nepatří do kategorie zakázaných předmětů. Po přidání nabídky ji ostatní uživatelé uvidí a mohou vás kontaktovat. Nezapomeňte, že se jedná o regionální bazar, takže předměty si budou muset zájemci převzít osobně."    
    termsAndConditions:
        header: "Obchodní podmínky"
        companyInfo: "Tento bazar provozuje společnost \"Marcel Šup\" se sídlem: Ke Kapli 258, 26718 Bubovice, Česká republika"
        mediatorInfo: "Tento bazar pouze zprostředkovává místo pro umístění inzerátů prodávajících"
        disclaimer: "Tento bazar neručí za žádné škody a újmy při používání této aplikace ani při neúspěšném realizování jakéhokoliv obchodu"
        buyerSellerProtection: "Nakupující i prodávající chrání při realizování obchodu tím, že je vyzývá k upřednostňování způsobu převzetí zboží formou osobního odběru. Z tohoto důvodu jak nakupující, tak i prodávající souhlasí se zveřejním údajů, které by jim toto usnadnily."
        registrationRequirements: "Pro registraci uživatelů je nutný funkční javascript a cookies"
        freeUsage: "Tento bazar je pro bezplatné použítí jak ze strany nakupujících, tak i prodávajících"
    contact:
        header: "Kontakt"
        emailPhone: "email: oktagon@seznam.cz <br/> tel: +420 603 165 921"


homepage:
    title: "Domovská stránka"
    error_min_max_price: "Horní hranice ceny nemůže být nižší než spodní hranice."

    defaultLatte:
        no_items: "V bazaru nejsou žádné položky"

    detailLatte:
        seller: "prodejce"

sign:
    inLatte:
        homepage: "Domovská stránka"
        log_in: "Přihlásit se"  
        no_account_sign_up: "Ještě tu nemáte účet ? Zaregistrujte se!"

offer:
    manage:
        offerPrice: "%price% Kč"
    editLatte:
        js:
            delete_address: "Opravdu chcete smazat tuto adresu?"

offerImagesControl:
    default:
        mainPhoto: "Hlavní fotografie"
        changeMainPhoto: "Nastavit jako hlavní fotku"
        deletePhoto: "Odstranit"

FormFactory:
    fill_field: "Vyplňte všechna pole formuláře"
    
editForm:
    choose from suggest: "vyberte z navrhované adresy"
    man: "muž"
    woman: "žena"
    change data: "změnit údaje"
    fill your email: "Prosím vyplňte toto pole Vaší emailovou adresou"
    choose a password: "Prosím vyberte si heslo"

FilterForm:
    all: "všichni prodejci"
    allCategories: "všechny kategorie"

registrationForm:
    minLength: "minimální délka hesla musí být nejméně %min% znaků"
    to register: "Registrovat se"
    busy username: "Toto uživatelské jméno je již obsazené. Prosím zvolte si jiné uživatelské jméno."

signInForm:
    enter_password: "Prosím vložte Vaše heslo !"
    Keep_signed: "Zůstat přihlášen"
    Sign_in: "Přihlásit"
    username_incorrect: "Uživatelské jméno nebo heslo není správně !"
    Remember_me: "Zapamatovat si mě"

modelEmailTemplates:
    addCommentLatte:
        Adding_comment : "Přidání komentáře k Vaší položce ve Vašem účtu Bubovický bazar"

comentAndOfferManager:
        Adding_comment: "Přidání komentáře k Vaší položce ve Vašem účtu Bubovický bazar"