{block content}
<nav>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a n:href="Homepage:default">{_messages.sign.inLatte.homepage}</a></li>
        <li class="breadcrumb-item active">Odhlášení</li>
    </ul>
</nav>
<h1 class="w-100 float-none clear-both" n:block=title>Právě jste se odhlásili</h1>

<p><a n:href="in">Přihlašte se na jiný účet</a></p>
