button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: smaller; 
    line-height:initial;
}

form .btn, form .form-control {
    font-size: 0.75em;
}

form select.form-control {
    height: 2rem !important;
}

.inline-form {
    margin-bottom: 0.5rem !important;
}