body {
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.6;
	color: #333;
	background: white;
	border-left: 0.7rem solid #e9ecef;
	padding-left: 1rem;
	border-right: 0.7rem solid #e9ecef;
	padding-right: 1rem;
	border-top: 0.7rem solid #e9ecef;
	padding-top: 0.75rem;
}

*{
	max-width: 100%;
}

.width12{
	width: 12rem;
}
.width14{
	width: 14rem;
}
.width15{
	width: 15rem;
}
nav{
	clear: both;
}
h1 {
	color: #3484D2;
	float: left;
	display: inline-block;
}

.header{
	display: block;
	clear: both;
	float: left;
	width: 100%;
}



.buttons{
	display: inline-block;
}

.buttons *{
	display: block;
	float: left;
	clear: both;
}

p{
	padding-right: 1rem;
	text-align: justify;
}

.firstCapitol{
	background-color: #f8ddff;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin: 0;
	border: 0;
}

.secondCapitol{
	background-color: #ddffff;
	padding-top: 0.85rem;
	padding-bottom: 0.85rem;
	margin: 0;
	border: 0;
}

.thirdCapitol{
	background-color: #ffdddd;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin: 0;
	border: 0;
}


.reactionList{
	position: relative;
	left: 1.5em;
}

.divClass{
	clear: left;
	float: none
}

.largePicture{
	float: left;
	clear: left;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

.sizeByMedia{
	width: 14rem;
}

@media only screen and (max-width: 14rem) {
	.sizeByMedia{
		width: 100%;
	}
}
.all{
	width: 100%;
	height: 100%;
}

.bg-light-yellow{
	background-color: #fcfcb0;
}

.bg-light-green{
	background-color: #eaffea;
}

.navbar .brand {
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777;
    text-shadow: 0 1px 0 #fff
}

.celestial-logo {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    color: #ffffff;
    text-decoration: none;
}

.market-tagline {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5rem;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    display: block; /* Přidáno pro zobrazení nápisu pod logem */
    margin-top: -2rem; /* Přidáno pro snížení vzdálenosti mezi logem a nápisem */
}

/* Přidání efektu přechodu pro změnu barvy písmo při najetí myší */
.celestial-logo:hover {
    color: #ffc107;
    transition: color 0.3s;
}

.navbar-brand {
    padding-top: 0 rem; /* Zmenšení odsazení od horního okraje navbaru */
    padding-bottom: 0 rem; /* Zmenšení odsazení od spodní hrany navbaru */
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
}

.navbar-dark .navbar-nav .nav-link svg {
    fill: #ffffff;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-toggler {
    background-color: transparent;
    border: none;
}

.navbar-toggler:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.push-right {
    margin-left: auto;
}

.menuItem {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background-color: transparent;
  text-decoration: none;
}

.menuItem:hover,
.menuItem:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.navbar .dropdown-menu {
  position: absolute;
  z-index: 1000;
}

.language-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
}

.navbar-inner {
  overflow: visible; /* Umožňuje zobrazení obsahu mimo rámeček .navbar-inner */
}

.dropdown-menu {
  z-index: 1000; /* Zvyšuje z-index rozbalovacího menu, aby bylo viditelné nad ostatními prvky */
}

/* Základní nastavení pro .span3 */
.span3 {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

/* CSS pro zařízení s velkou obrazovkou */
@media (min-width: 1200px) {
  .span3 {
    width: 25%;
  }
}

/* CSS pro střední zařízení */
@media (min-width: 980px) and (max-width: 1199px) {
  .span3 {
    width: 25%;
  }
}


/* CSS pro tablety */
@media (min-width: 768px) and (max-width: 979px) {
  .span3 {
    width: 35% !important; 
  }
}

/* CSS pro mobilní telefony */
@media (max-width: 767px) {
  .span3 {
    width: 50% !important; 
  }
}

 .custom-card {
            display: flex;
            flex-direction: column;
            height: 100%;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
            text-decoration: none !important;
            color: black;
        }

        .custom-card-header
         {
            flex-shrink: 0;
            border-top: none;
            border-bottom: none;
            font-size: 1rem;
            text-decoration: none !important;
         }
         
         .custom-card-header h5 {
           text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);  
         }
         
        .custom-card-footer {
            flex-shrink: 0;
            border-top: none;
            border-bottom: none;
            font-size: 1rem;
            text-decoration: none !important;
         }

        .custom-card-body {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;
            background-color:rgba(0,0,0,.03);
        }

        .custom-card-body img {
            width: 100%;
            height: auto;
            object-fit: cover;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .custom-list-item {
            text-decoration: none !important;
            background-color:rgba(0,0,0,.03);
            color:black;
        }
        
        .card-body {
            padding: 0px;
            border-color: grey;
        } 
        
        .show-item div span {
            padding-left: 1rem;
            padding-right: 0rem;
        }
        
        .show-item div {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background-image: url('../images/stripe2.jpg');
        }
        
        .category {
            background-image: url('../images/stripe4.png'); 
        }  
        
        .offers {
            background-image: url('../images/stripe4.png');
        }
        
        .fa-chevron-right span {
            font-family: Arial, Verdana, sans-serif;
            color: black;
            text-decoration: none;
        }
        
        
        .show-item div:hover {
           box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4); 
           background-color: rgba(0,0,0,.05);
           background-image: none;
        }
        
        .no-wrap {
            white-space: nowrap;
        }
        
        .fa-chevron-right span:hover {
         padding-left: 2rem;   
        }
        
        .card-header:hover{
            
        }
        
       .carousel-item, .img-thumbnail {
            background-color: #808080;
          }

          .carousel-item img, .img-thumbnail {
            object-fit: contain;
            border: 1px solid #333;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          }

          .carousel-item {
                height: 50vh;  /* Nastavte pevnou výšku karuselu na 50% výšky okna prohlížeče */
                align-items: center;
                justify-content: center;
            }

            .carousel-item img {
                max-height: 100%;
                width: auto;
            }

            .img-thumbnail {
                height: 10vw; /* Adjust based on your needs */
                width: 10vw; /* Adjust based on your needs */
            }
          
          .carousel-item img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-height: 100%;
                width: auto;
                border: solid 2px #808080; /* Rámeček kolem obrázku */
            }
            
            #hoverImageContainer .carousel-item {
                /* Same styles as .carousel-item */
                height: 50vh;
                align-items: center;
                justify-content: center;
                background-color: #808080;
            }

            #hoverImageContainer .carousel-item img {
                /* Same styles as .carousel-item img */
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-height: 100%;
                width: auto;
                border: solid 2px #808080;
            }